<header class="header">
  <nav class="navbar">
    <ul class="menu">
      <li class="item">
        <a href="/" class="link">Register</a>
      </li>
      <li class="item">
        <a href="/loginForm" class="link">Login</a>
      </li>
      <li class="item">
        <a href="/" class="link">Logout</a>
      </li>
    </ul>
  </nav>
</header>