<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
 
  <title>Document</title>
</head>
<body>
  <div class="container">
    
    
    <main class="main">

      <form action="/api/user/login" method="POST" id="create">
        <h3>Login</h3>
        <br>
        <input type="email" name="username" id="username" autofocus placeholder= "Enter your email" >
        <input type="hidden" name="id" value="">
        <br>
        <input type="text" name="password" id="password" autofocus placeholder= "Enter your password" >
        <br>
        <input type="submit" value="Login" id="submit">
      
      </form>
   

   
    </main>
  </div>
  <script>

  </script>
</body>
</html>