<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
 
  <title>Document</title>
</head>
<body>
  <div class="container">
  
    
    <main class="main">
      <form action="/api/user/register" method="POST" id="create">
        <h3>Register to our Bank</h3>
        <input type="text" name="name" id="name" placeholder="Enter your name.">
        <br>
        <input type="email" name="username" id="username" autofocus placeholder= "Enter your email" >
        <br>
        <input type="text" name="password" id="password" autofocus placeholder= "Enter your password" >
        <br>
        <!-- <input type="hidden" name="id" id="id" value=""> -->
        <input type="submit" value="Create" id="submit">
      
      </form>
    

   
    </main>
  </div>
  <script>

  </script>
</body>
</html>