body{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;


}
.container{
  display: grid;
  height: 100vh;
 
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}
a{
  text-decoration: none;
  color: rgb(214, 201, 201);
  font-weight: bold;
}
li{
  list-style: none;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background-color: blue;
  height: 20vh;
}
.main{
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.footer{
  grid-area: footer;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#create{
  display: grid;
  justify-content: center;
  
}
 input{
  padding: 1rem;
  width: 200px;
  align-items: center;
  border: none;
  background-color: aliceblue;
  border-radius: 10px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 163, 31);
  color: black;
  font-size: 1.0rem;
  font-weight: bold;
}